* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #2D3047;
    margin: 0;
    padding: 0;
  
}


@media (min-width: 907px) {
    /* --------------------------------------HEADER-----------------------------------------*/
header {
   padding: 30px;
   position: relative; 
   display: flex;
   justify-content: space-between;
 
   
}
.logo-section {
    width: 250px;
}

.logo {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 190px;
}
.rectangle-logo {
    position: absolute;
    width: 110px;
    height:35px;
    left: 108px;
    top: 28px;
    background: var(--pink);
}

.menu-container {
    display: flex;
    
}

.li-menu {
    margin:  0 40px;
    color: white;
    list-style: none;
}

.li-menu:hover {
    color: var(--pink);
}

a {
    text-decoration: none;
}

    /* --------------------------------------CENTER HOME SECTION-----------------------------------------*/

    .div-home {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }  
    .container-home {
        display:flex;
        flex-direction: column;
    }   
    
    .h1-home-mobile {
        display: none;
    }
    .container-home {
        margin: auto;
        color: white;
    }
    .h1-home-desktop {
        font-size: 80px;
        
        font-weight: 400;
        margin-bottom: 30px; 
    }

    .p-home {
        color: white;
        font-size: 30px;
        width: 500px;
        
    }


    /* --------------------------------------ABOUT SECTION-----------------------------------------*/ 

    .div-about {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        padding: 40px 50px 100px 50px;
        position: relative;
        
    }
    
    .container-about {
        margin: 0 25px;
        color: white;
        font-weight: 400;
    }

    .about-title {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .h1-about {

        margin-bottom: 30px;
    
        font-size: 45px;
        font-weight: 300;
       position: absolute;
      
    }

    .rectangle-about {
        position: absolute;
        width: 120px;
        height:40px;
        left: 50%;
        top: 14px;
        
        background: var(--pink);
        
    }

    .p-about-1,
    .p-about-2 {
        font-size: 20px;
    }


    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
 
    }


    .skill-list {
        text-decoration: none;
        list-style: none;
        margin-bottom: 40px;
    }
    .p-list {
        margin-bottom: 5px;
    }



    
/* --------------------------------------PROJECT SECTION-----------------------------------------*/ 


  .p-project-2 {
    margin-top: 20px;
   }

   .project-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 50px 0;
    
    }
    .project-1-facebook {
      text-align: center;
   

    }

    .project {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .h1-project {
        color: var(--pink);
        font-size: 2.5vw;
        font-weight: 600;
        
        margin: 0 auto;
    }

    .p-project {
        color: white;
        font-size: 1.5vw;
        margin: 30px 0 ;
    }

    .img-facebook {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
   
    }
    .facebook {
        
        width: 30vw;
        min-width: 300px;
        margin: 3px;
    }

    .project-container-2 {
        width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   
   
    
    }

    .project-2 {
        width: 100%;
        
       
        padding: 0px;

    }
   .mywebsite-pro-1 {
    display: flex;

   
   
   }
    .mywebsite-pro-2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
     
    }

    .p-myweb {
        font-size: 14px;
        float: left;
        margin-right: 20px;
        font-weight: 300;
      
    }

    .myweb-img {
    width: 290px;
    }

    
/* --------------------------------------CONTACTS SECTION-----------------------------------------*/ 

a {
    text-decoration: none;
    color: var(--pink);
}

a:hover {
    color: #947072;
}

.p-contact {
    margin-bottom: 40px;
}
.p-contact-2 {
    margin-bottom: 10px;
}

.social-icon-contact {
    margin: 30px 10px;
    color: white;
}

.social-icon-contact:hover {
    color: var(--pink);
}

.rectangle-contact {
    position: absolute;
    width: 155px;
    height:40px;
    left: 49%;
    top: 14px;
    
    background: var(--pink);
    
}

   
        




    /* --------------------------------------FOOTER-----------------------------------------*/
   

.background-icon {
    display: none;
    }


    footer {
      
        bottom: 0; 
        position: absolute;
        left: 0;
        width: 100%;
        height: 60px;
        background-color:#A97E80 ;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0px;
        }

    .footer-p {
        color: #2D3047;
        font-size: 14px;
    }

}